.App {
  text-align: center;
  background-color: lime;
  color: green;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lime;
}

.App-link {
  color: #61dafb;
}

.CategoryButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: row;
}

.Product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 5px solid yellowgreen;
  border-radius: 5px;
}

button{
  background-color: rgb(0, 255, 191);
  color: teal;
  width: 100px;
  height: 100px;
  font-size: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

h2{
  text-decoration: underline;
}

.item{
  border: 5px solid yellowgreen;
  border-radius: 5px;
}